.btn{
   width: 100%;
   border:3px solid black ;
   text-transform: uppercase;
   aspect-ratio: 1/1;
   font-weight: bold;
   font-size: 2.5rem;
   padding:0.5rem;
   color: black;
   background: none;
   cursor: pointer;

}
.btn.active{
    background-color: hsl(200, 100%, 50%);
    color: white;

}
.btn.inactive{
    opacity: .3;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled){
   background-color: hsl(200, 100%, 75%);
}